body main
{

   height:82%;
   overflow-x:hidden;
   overflow-y: hidden;

   
}

main .columns{

    height: 100%;

}



main .columns .column{

    height: 100%;

}

.primary-color{
    background-color: #1E434C;
}

.table-container{
    overflow-x: auto;
}
.is-rest{
    overflow-y: auto;
}
table button{
    background-color: transparent;
    border: none;
}